<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>707027743774-pgglgibrbt5pogk0d4ugrgh82m3be4na.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707027743774-pgglgibrbt5pogk0d4ugrgh82m3be4na</string>
	<key>API_KEY</key>
	<string>AIzaSyCmL7jcAsnATOLe17H_1f5mudS5NriCSbo</string>
	<key>GCM_SENDER_ID</key>
	<string>707027743774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test.FireBaseTalk</string>
	<key>PROJECT_ID</key>
	<string>talk-23ac6</string>
	<key>STORAGE_BUCKET</key>
	<string>talk-23ac6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:707027743774:ios:7759ed38cb58fa34</string>
	<key>DATABASE_URL</key>
	<string>https://talk-23ac6.firebaseio.com</string>
</dict>
</plist>